<!-- Success Stories Sec  -->




        <!-- Success section start  -->
        <section class="success-main img-fluid">
            <div class="success">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-container">
                                <div class="carousel-img py-4" id="column">
                                    <img src="/assets/image/main/Homepage/testimonial.png"
                                        class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="success-content" id="column">
                                    <div class="name">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination">
                                        <h2>Excelent Test Series.
                                            Quality Questions for Prepration</h2>
                                    </div>
                                    <div class="content">
                                        <p class="content-success-p">Everything is explained in an easy and straight to
                                            the point
                                            approach. Love the takeaways specially the ones at the end of
                                            the sections. Its bad that sometimes the audio is very very low,
                                            makes it tricky to hear even with headphones.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 brand-logo">
                                            <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png"
                                                alt="">
                                        </div>
                                        <div class="col-6 brand-content my-4 py-2">
                                            <h3>Jatin Baghel</h3>
                                            <p>RRB asperients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="carousel-container">
                                <div class="carousel-img py-4" id="column">
                                    <img src="/assets/image/main/Homepage/testimonial.png"
                                        class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="success-content" id="column">
                                    <div class="name">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination">
                                        <h2>Excelent Test Series.
                                            Quality Questions for Prepration</h2>
                                    </div>
                                    <div class="content">
                                        <p class="content-success-p">Everything is explained in an easy and straight to
                                            the point
                                            approach. Love the takeaways specially the ones at the end of
                                            the sections. Its bad that sometimes the audio is very very low,
                                            makes it tricky to hear even with headphones.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 brand-logo">
                                            <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png"
                                                alt="">
                                        </div>
                                        <div class="col-6 brand-content my-4 py-2">
                                            <h3>Jatin Baghel</h3>
                                            <p>RRB asperients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="carousel-container">
                                <div class="carousel-img py-4" id="column">
                                    <img src="/assets/image/main/Homepage/testimonial.png"
                                        class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="success-content" id="column">
                                    <div class="name">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination">
                                        <h2>Excelent Test Series.
                                            Quality Questions for Prepration</h2>
                                    </div>
                                    <div class="content">
                                        <p class="content-success-p">Everything is explained in an easy and straight to
                                            the point
                                            approach. Love the takeaways specially the ones at the end of
                                            the sections. Its bad that sometimes the audio is very very low,
                                            makes it tricky to hear even with headphones.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 brand-logo">
                                            <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png"
                                                alt="">
                                        </div>
                                        <div class="col-6 brand-content my-4 py-2">
                                            <h3>Jatin Baghel</h3>
                                            <p>RRB asperients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-container">
                                <div class="carousel-img py-4" id="column">
                                    <img src="/assets/image/main/Homepage/testimonial.png"
                                        class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="success-content" id="column">
                                    <div class="name">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination">
                                        <h2>Excelent Test Series.
                                            Quality Questions for Prepration</h2>
                                    </div>
                                    <div class="content">
                                        <p class="content-success-p">Everything is explained in an easy and straight to
                                            the point
                                            approach. Love the takeaways specially the ones at the end of
                                            the sections. Its bad that sometimes the audio is very very low,
                                            makes it tricky to hear even with headphones.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 brand-logo">
                                            <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png"
                                                alt="">
                                        </div>
                                        <div class="col-6 brand-content my-4 py-2">
                                            <h3>Jatin Baghel</h3>
                                            <p>RRB asperients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </section>


        <!-- Success Stories Sec  -->




        <!-- mobile success section -->
        <section class="mobile-success">
            <div class="m-success">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="success-content-m" id="column-m">
                                <img src="/assets/image/main/Homepage/testimonial.png" alt="background-image"> ;
                                <div class="content-success-p-m">
                                    <div class="name-m my-2">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination-m my-3">
                                        <h5>Excelent Test Series. Quality Questions for Prepration</h5>
                                    </div>
                                    <p class="para-m my-5">
                                        Everything is explained in an easy and straight to the point approach. Love the
                                        takeaways specially the ones at the end of the sections. Its bad that sometimes
                                        the audio is very very low, makes it tricky to hear even with headphones.
                                    </p>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-center my-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 brand-logo">
                                        <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png" alt="">
                                    </div>
                                    <div class="col-12 brand-content my-4 py-2" style="text-align: center;">
                                        <h3>Jatin Baghel</h3>
                                        <p>RRB asperients</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="success-content-m" id="column-m">
                                <img src="/assets/image/main/Homepage/testimonial.png" alt="background-image"> ;
                                <div class="content-success-p-m">
                                    <div class="name-m my-2">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination-m my-3">
                                        <h5>Excelent Test Series. Quality Questions for Prepration</h5>
                                    </div>
                                    <p class="para-m my-5">
                                        Everything is explained in an easy and straight to the point approach. Love the
                                        takeaways specially the ones at the end of the sections. Its bad that sometimes
                                        the audio is very very low, makes it tricky to hear even with headphones.
                                    </p>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-center my-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 brand-logo">
                                        <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png" alt="">
                                    </div>
                                    <div class="col-12 brand-content my-4 py-2" style="text-align: center;">
                                        <h3>Jatin Baghel</h3>
                                        <p>RRB asperients</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="success-content-m" id="column-m">
                                <img src="/assets/image/main/Homepage/testimonial.png" alt="background-image"> ;
                                <div class="content-success-p-m">
                                    <div class="name-m my-2">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination-m my-3">
                                        <h5>Excelent Test Series. Quality Questions for Prepration</h5>
                                    </div>
                                    <p class="para-m my-5">
                                        Everything is explained in an easy and straight to the point approach. Love the
                                        takeaways specially the ones at the end of the sections. Its bad that sometimes
                                        the audio is very very low, makes it tricky to hear even with headphones.
                                    </p>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-center my-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 brand-logo">
                                        <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png" alt="">
                                    </div>
                                    <div class="col-12 brand-content my-4 py-2" style="text-align: center;">
                                        <h3>Jatin Baghel</h3>
                                        <p>RRB asperients</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="success-content-m" id="column-m">
                                <img src="/assets/image/main/Homepage/testimonial.png" alt="background-image"> ;
                                <div class="content-success-p-m">
                                    <div class="name-m my-2">
                                        <h2>____ Success Stories</h2>
                                    </div>
                                    <div class="desigination-m my-3">
                                        <h5>Excelent Test Series. Quality Questions for Prepration</h5>
                                    </div>
                                    <p class="para-m my-5">
                                        Everything is explained in an easy and straight to the point approach. Love the
                                        takeaways specially the ones at the end of the sections. Its bad that sometimes
                                        the audio is very very low, makes it tricky to hear even with headphones.
                                    </p>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-center my-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 brand-logo">
                                        <img src="/assets/image/main/Homepage/Screenshot 2022-09-13 112947.png" alt="">
                                    </div>
                                    <div class="col-12 brand-content my-4 py-2" style="text-align: center;">
                                        <h3>Jatin Baghel</h3>
                                        <p>RRB asperients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- mobile success section end  -->


        <!-- Success section End -->
