<!-- Student Update Bar Design -->
<section>
    <div class="container-fluid student-bar">
        <div class="row d-flex justify-content-center mx-5">
            <div class="col-3">
                <div class="inner-content-bar">
                    <div class="content">
                        <h2>43+</h2>
                        <p>Hours of Course</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="inner-content-bar">
                    <div class="content">
                        <h2>18+</h2>
                        <p>Total Assingments</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="inner-content-bar">
                    <div class="content">
                        <h2>20+</h2>
                        <p>Video Lessons</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="inner-content-bar">
                    <div class="content">
                        <h2>4312+</h2>
                        <p>Students Enrolled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Student Update Bar Design -->
