<%- include("partials/header") %>



    <body>
        <section class="aboutus">
            <div class="container">
                <div class="heading-about my-5">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <div class="title-about">
                                <h1>BigBooster: One of the best online</h1>
                                <span class="theam-text-col">
                                    <h1>test platform in India</h1>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="aboutus-grid">
                    <div class="grid-img" id="img-1"><img src="/assets/image/main/aboutAsset/Rectangle 1083.png" alt="">
                    </div>
                    <div class="grid-img" id="img-2"><img src="/assets/image/main/aboutAsset/Rectangle 1084.png" alt="">
                    </div>
                    <div class="grid-img" id="img-3"><img src="/assets/image/main/aboutAsset/Rectangle 1085.png" alt="">
                    </div>
                    <div class="grid-img" id="img-4"><img src="/assets/image/main/aboutAsset/Rectangle 1086.png" alt="">
                    </div>
                    <div class="grid-img" id="img-5"><img src="/assets/image/main/aboutAsset/Rectangle 1087.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container-fluid story">
                <div class="ourStory container">
                    <div class="heading-ourstory py-5">
                        <h1>Our Story</h1>
                    </div>
                    <div class="ourstory-para my-3 pb-5">
                        <p>Big Booster provides best question collection for government exams
                            which is very helpful for students in competitive examination. The
                            questions are prepared by experienced faculty. it has a huge
                            community working behind them to make it better day by day and
                            trying to fulfill all the requirements of the user. Big Booster always try
                            to set the question which can be helpful in examination and mostly
                            questions are prepared from previous year question.Our main focus
                            is to boost the score of student by providing them some good test
                            series.</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="mission-image my-5 container">
                    <img src="/assets/image/main/aboutAsset/mis-01.webp" alt="" class="img-fluid">
                </div>
            </div>

            <div class="container-fluid mission py-5">
                <div class="mission-aboutus container">
                    <div class="heading-ourstory py-5">
                        <h1>Mission</h1>
                    </div>
                    <div class="ourstory-para my-3 pb-5">
                        <p>Big Booster provides best question collection for government exams
                            which is very helpful for students in competitive examination. The
                            questions are prepared by experienced faculty. it has a huge
                            community working behind them to make it better day by day and
                            trying to fulfill all the requirements of the user. Big Booster always try
                            to set the question which can be helpful in examination and mostly
                            questions are prepared from previous year question.Our main focus
                            is to boost the score of student by providing them some good test
                            series</p>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="mission-image my-5 container">
                    <img src="/assets/image/main/aboutAsset/vis-01.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="container-fluid mission py-5">
                <div class="mission-aboutus container">
                    <div class="heading-ourstory py-5">
                        <h1>Vision</h1>
                    </div>
                    <div class="ourstory-para my-3 pb-5">
                        <p>Our goal is to improve education, make it simple to obtain the materials, and evolve the learning process so that students feel comfortable studying for exams.

                            We discovered that the students were from various socioeconomic backgrounds, so we kept the price range reasonable so that everyone could afford to buy and advance at their own rate in the highly competitive fields.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid mission py-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mission-aboutus container">
                            <div class="heading-ourstory py-5">
                                <h1>BigBooster</h1>
                            </div>
                            <div class="ourstory-para my-3 pb-5">
                                <p>At BigBooster, we offer practise exams that are identical replicas of real exams, using questions from prior years and the most recent exam format. These give students a close enough reproduction of upcoming tests to be very helpful.</p>
                                <p>
                                    To increase your accuracy and solidify your understanding, practise questions are crucial. To give students rigorous practise and help them fully understand their topics, we offer questions created by our subject-matter experts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mission-aboutus container">
                            <div class="heading-ourstory py-5">
                                <h1>Why to choose us</h1>
                            </div>
                            <div class="ourstory-para my-3 pb-5">
                                <p>We offer examinations for the SSC (SSC CGL, SSC CHSL, SSC MTS, SSC JE, SSC GD, SSC CPO), the railways (RRB NTPC, RRB Group-D, RRB JE, RRC Computer-based test), the Bihar state exams (Bihar secretariat (सचिवालय),Bihar SI), and many more.</p>
                                <div class="about-list my-4">
                                <ul>
                                    <li>
                                        To get a sense of the types of questions that will be on your exam.
                                    </li>
                                    <li>
                                        To comprehend the current exam format,</li>
                                    <li>
                                        Must practise in a timed environment in order to avoid missing questions due to time
                                        constraints.</li>
                                    <li>
                                        to prepare for exams in a way that will maximise your abilities.</li>
                                    <li>
                                        To increase your self-assurance and level of preparation
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container-fluid">
                <div class="row queries">
                    <div class="col-lg-6">
                        <h1>Send Your <br> Queries to Us</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-queries">
                            <form action="/aboutus" method="post">
                                <input type="text" placeholder="xyz2@mail.com"><br>
                                <button class="btn btn-success">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <%- include("partials/footer") %>




        