<%- include("partials/header") %>

    <div class="container-fluid my-5 py-3 d-flex justify-content-center">
        <h1><i><b>Careers</b></i></h1>
    </div>

    <div class="container text-left mb-5">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>
           
            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>



            <div class="col-lg-4 col-sm-12 col-md-12 job-container my-3 mx-3 pt-3">
                <div class="container job">
                    <h2>Front End developer</h2>
                    <h5>BigBooster.in</h5>
                    <p>Patna, Mussalapur Haat (Bihar)</p>
                </div>
                <div class="container jobDiscription">
                    <ul>
                        <li>
                            <p>Experience in UI/UX Design.</p>
                        </li>
                        <li>
                            <p>Fullency in HTML, CSS and JavaScript</p>
                        </li>
                        <li>
                            <p>Knowledge of Front End Framework like Bootstrap.</p>
                        </li>
                        <li>
                            <p>Command on React Js</p>
                        </li>
                        <li>
                            <p>Basic Knowledge of NodeJs, ExperssJs.</p>
                        </li>
                    </ul>
                    <a href="#" type="button" class="btn btn-primary my-3 py-2 px-3">Apply Now</a>
                </div>
            </div>

        </div>
    </div>

    <style>
        .job-container{
            background: linear-gradient(to right, rgb(53, 226, 10), rgb(82, 192, 54));
            color: rgb(1, 0, 70);
            border-radius: 1rem;
            box-sizing: border-box;
            box-shadow: .2rem .4rem .7rem rgba(0, 0, 0, 0.356);
            width: 31%;
        }
        .job h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }

        .job h5 {
            font-size: 2rem;
            font-weight: 500;
        }

        .job p {
            font-size: 1.6rem;
        }

        .jobDiscription p {
            font-size: 1.4rem;
            margin: 0rem;
            padding: 0rem;
        }

        .jobDiscription a {
            font-size: 1.3rem;
        }
    </style>

    <%- include("partials/footer") %>