<%- include("partials/header") %>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 bg-img">
                <div class="container d-flex justify-content-center privacypolicy">
                    <h1>Refund Policy</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="policy-head">
            <h1><b>Refund Policy</b></h1>
            <h3><i>Last updated: August 10, 2022</i></h3>
        </div>
        <div class="policy-content my-5">
            <p>Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.
            </p>
        </div>
    </div>


    <div class="container">
        <div class="policy-head">
            <h2>Cancellation Policy</h2>
        </div>
        <div class="policy-content">
            <p>For Cancellations please contact the us via <a href="https://docs.google.com/forms/d/e/1FAIpQLSdstZczacaDAth25Go_YR7BBq6jUrsfz7wIvRZ6FtBYMvnFyg/viewform" target="_blank"><b><i>Contact Us</i></b></a>. Requests received later than five business days prior to the end of the current service period will be treated as cancellation of services for the next service period.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="policy-head">
            <h2>Refund Policy</h2>
        </div>
        <div class="policy-content">
            <p>Subscription is refundable.
            </p>
        </div>
    </div>


    

    <style>
        .policy-content p {
            font-size: 1.8rem;
            text-align: left;
        }

        .policy-content h3 {
            font-size: 3rem;
            font-weight: 600;
            margin: 2rem 0rem;
            text-align: left;
        }

        .policy-content li {
            width: 90%;
            margin-left: 10%;
            text-align: left;
        }

        .policy-head h2 {
            font-size: 4rem;
            font-weight: 700;
            margin-top: 3rem;
            margin-bottom: 3rem;
            text-decoration: underline;
            text-align: left;
        }
        .policy-head h1{
            font-size: 4rem;
            color: rgb(65, 97, 17);
            text-align: left;
        }

        .policy-content h6 {
            font-size: 2rem;
            font-weight: 600;
            margin: 2rem 0rem;
            text-align: left;
        }
        .para-mini{
            width: 100%;
            font-weight: 800;
            margin: 2rem 0rem;
            text-align: left;
        }
    </style>






















    <%- include("partials/footer") %>